.socila_media{
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
}

.social_medias{
    display: flex;
    align-items: center;
}

.social_medias img{
    width: 40px;
    height: 40px;
    margin-left: 8px;
    margin-right: 3px;
}





* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color:#333;
    padding: 20px;
}

header {
    background-color: #333;
    color:#fff;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    
}

.container{
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1)
}

.profile-img{
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: cover;
}

.intro{
    text-align: center;
    margin-top: 20px;
}

.intro h2{
    margin-bottom: 10px;
}

.intro p {
    margin-bottom: 15px;
}

footer{
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}


@media (max-width: 600px) {
    header{
        font-size: 1em;
    }
    .container{
        padding: 15px;
    }
    .socila_media{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    .social_medias{
        display: flex;
        align-items: center;
        margin-top: 8px;
    }
}